@import url(./__title/auth__title.css);
@import url(./__input/auth__input.css);
@import url(./__text/auth__text.css);

.auth {
    max-width: 358px;
    display: flex;
    flex-direction: column;
    margin: 60px auto 0;
}