.place__trash {
    position: absolute;
    width: 18px;
    height: 19.3px;
    right: 15px;
    top: 18px;
    background-image: url(../../../images/Trash.svg);
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}