.auth__input {
    background: black;
    border: none;
    border-bottom:  2px solid #CCCCCC;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px; 
    color: #FFFFFF;
    margin: 0 0 30px;
    padding-bottom: 13px;
}