@import url(__img/header__img.css);
@import url(./__link/header__link.css);
@import url(./__email/header__email.css);

.header {
    border-bottom: 1px solid rgba(84,84,84,.7);
    max-width: 68.75%;
    margin: 0 auto 0;
    padding-top: 45px;
    padding-bottom: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 425px) {
    .header {
        max-width: 320px;
    }
}

